$color-black: #000;
$color-white: #fff;
$color-primary: #826550;

$bg-primary: #694d37;
$bg-primary-light: #81654f;
$bg-stress: #d5c9bd;
$bg-light: #f7f5f1;

$bg-gray-14: hsl(38, 0, 14);
$bg-gray-16: hsl(38, 0, 16);
$bg-gray-21: hsl(38, 0, 21);
$bg-gray-25: hsl(38, 0, 25);
$bg-gray-31: hsl(38, 0, 31);

$font-std: "PT Sans Narrow", Helvetica, Arial, sans-serif;
