/* example
@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 800; // extra-bold
  src:
    url('../fonts/.woff2') format('woff2'),
    url('../fonts/.woff') format('woff');
}

@font-face {
  font-family: '';
  font-style: normal;
  font-weight: 300; // light
  src:
    url('../fonts/.woff2') format('woff2'),
    url('../fonts/.woff') format('woff');
}
*/
